.App {
  padding: 10px;
  background-color: rgba(4, 10, 26, 0.5);
}

.Header {
  padding-bottom: 10px;
}

.Header-Search {
  border: 2px solid rgba(32, 64, 122, 0.6);
  background-color: rgba(33, 33, 33, 0.44);
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

/* .Body {
}

.Body-Results {
} */

.Item {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #cccccc40;
  background-color: rgba(15, 26, 46, 0.2);
}

.Item__name {
  font-size: 16px;
  font-weight: 600;
}

.Item__description {
  font-size: 12px;
  font-weight: 400;
  color: #cccccc80;
}
